.mat-grid-tile {
  border: 2px solid gray;
  border-radius: 15px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('//placekitten.com/150/150');
  background-size: cover;
}