<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Job Title</mat-card-title>
    <mat-card-subtitle>Job-ID: {{ jobId$ }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Job description
      Eum accusata erroribus ei, te usu homero nostrud. Sed te tractatos dissentiet, id saperet luptatum forensibus est. His idque tibique periculis ut, quis principes consulatu ad per. Impedit periculis voluptaria mel eu, periculis intellegat incorrupte his an, ex vis adhuc saepe habemus.\r\n\r\n\r\nEi vel exerci eripuit apeirian. Mei ei partiendo consetetur honestatis. Eam et percipit argumentum. Indoctum sapientem nec ut, ea vel wisi equidem. Pro meliore elaboraret no. Habemus contentiones ne vix, simul audire pro at, ludus vidisse ei mei. Eum alia concludaturque cu, nam veri utinam ea. No cetero commune placerat nam.
     </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Messages (2/8)</button>
    <button mat-button>Attachments (3)</button>
  </mat-card-actions>
</mat-card>   


